{% extends 'base.html' %}

{% block title %}PataWira - Job Detail{% endblock %}

{% load static %}

{% block content %}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider  slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-3"></div>
                <div class="col-xl-6">
                    <div class="hero-cap text-center">
                        <h1>Post a Job</h1>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li style="color: red;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <form action="{% url 'create_job' %}" method="post" class="form-contact contact_form mt-5">
                            {% csrf_token %}
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <!-- Select job items start -->

                                    <span>Category</span>
                                    <select name="category" class="form-control" required>
                                        <option value="">Select a category</option>
                                        <option value="Construction">Construction</option>
                                        <option value="IT">IT</option>
                                        <option value="Hospitality">Hospitality</option>
                                        <option value="Cleaning">Cleaning</option>
                                        <option value="Driving">Driving</option>
                                        <option value="Security">Security</option>
                                        <option value="Farming">Farming</option>
                                    </select>


                                    <!--  Select job items End-->
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <input class="form-control" name="title" placeholder="Job Title" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="company_name" placeholder="Company Name" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="location" placeholder="Location" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="salary_range"
                                        placeholder="Salary Rangee.g. 50K–100K" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="job_description" id="message" cols="30"
                                        rows="5" placeholder="Enter Job Description"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" name="skills" placeholder="Comma-separated skills"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter skills'"
                                        required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" name="experience"
                                        placeholder="Comma-separated experience levels" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" name="application_deadline" type="date" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" name="job_nature" placeholder="e.g. Full-time" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="yearly_salary"
                                        placeholder="yearly salary e.g. 600000" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="vacancy" placeholder="Vacancy .g. 3"
                                        required>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Post</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-xl-3"></div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- ================ contact section start ================= -->

<!-- ================ contact section end ================= -->
{% endblock %}